[user]
	name = Maxime Orefice
	email = contact@maximeorefice.com
	signingkey = /Users/goldenson/.ssh/id_ed25519.pub
[color]
	ui = true
[core]
	autocrlf = input
[push]
	default = current
[diff]
	noprefix = true
[alias]
	uncommit = reset --soft HEAD^
	unstage = reset
	cleanup = "!f() { git branch --merged | grep -v "master" | xargs -n 1 git branch -d }; f"
	untrack = clean -fd
[branch]
	sort = -committerdate
[pull]
	ff = only
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
