[user]
	name = Maxime Orefice
	email = morefice@gitlab.com
[color]
	ui = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[core]
	autocrlf = input
[push]
	default = current
[diff]
	noprefix = true
[alias]
	uncommit = reset --soft HEAD^
	unstage = reset
